
<p>
  <strong>Shop Name:</strong>
  <%= @shop.shop_name %>
</p>
 
<p>
  <strong>Details:</strong>
  <%= @shop.details %>
</p>



<h2>Products</h2>
<%= render @shop.products %>

<h2>Add a Product:</h2>
<%= render 'products/form' %>
...
 
<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>

<style>

h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif
}
a:link, a:visited {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: inline-block
}

a:hover, a:active {
  background-color: gray;
}